# 监听地址，格式为 ip:port，例如 :8080
LISTEN=127.0.0.1:8080

# 日志文件保存路径
LOG=/var/log/bepusdt/

# SQLite 数据库文件路径（如果使用 MySQL，此项可忽略）
SQLITE=/var/lib/bepusdt/sqlite.db

# PostgreSQL 数据库
# POSTGRESQL_DSN=postgres://user:password@localhost:5432/bepusdt?sslmode=disable&connect_timeout=3&timezone=Asia/Shanghai